{% include "parent_base.html" %}

{% block headcontent %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/parent_register.css') }}" >
{% endblock headcontent %}

{% block title %}
    <title>Register</title>
{% endblock title %}

{% block sidenav_sandwich %}
{% endblock sidenav_sandwich %}

{% block bodycontent %}

 <div class="row">
    <div class="col m7 offset-l1">
        <div class="card">
            <div class="card-content black-text">
              <span class="card-title">{{ camp_season }}</span>
            </div>

            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons medium left theme-text-secondary">account_circle</i>{{ parent_name }}</span>
            </div>

            <div class="card-content black-text">
                <form class="col s12" method="POST" action="/parent/register">
                {{ form.hidden_tag() }}
                  <div class="row">
                      <h5>Child Information</h5>
                    <div class="input-field col s6">
                        {{ form.child_first_name(required='true') }}
                        {{ form.child_first_name.label }}
                    </div>
                    <div class="input-field col s6">
                        {{ form.child_last_name(required='true') }}
                        {{ form.child_last_name.label }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s4">
                      {{ form.child_birth_date(class="datepicker", required='true') }}
                      {{ form.child_birth_date.label }}
                    </div>
                    <div class="input-field col s4">
                      {{ form.child_grade(required='true') }}
                      {{ form.child_grade.label }}
                    </div>
                    <div class="input-field col s4">
                      {{ form.child_gender(required='true') }}
                      {{ form.child_gender.label }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      {{ form.medical_notes(class="materialize-textarea") }}
                      {{ form.medical_notes.label }}
                    </div>
                  </div>

                  <div class="row">
                    <h5>Address</h5>
                    <p class="grey-text lighten-2">Leave blank if same as your address</p>
                    <div class="input-field col s12">
                      {{ form.street_address }}
                      {{ form.street_address.label }}
                    </div>
                    <div class="input-field col s4">
                      {{ form.city }}
                      {{ form.city.label }}
                    </div>
                    <div class="input-field col s4">
                      {{ form.state }}
                      {{ form.state.label }}
                    </div>
                    <div class="input-field col s4">
                      {{ form.zipcode }}
                      {{ form.zipcode.label }}
                    </div>

                  </div>

                  <div class="row">
                    <h5>Other Parent/Guardian's Information</h5>
                    <div class="input-field col s12">
                      {{ form.other_parent_name }}
                      {{ form.other_parent_name.label }}
                    </div>
                    <div class="input-field col s4">
                      {{ form.other_parent_birth_date(class="datepicker") }}
                      {{ form.other_parent_birth_date.label }}
                    </div>
                    <div class="input-field col s4">
                      {{ form.other_parent_email(type="email") }}
                      {{ form.other_parent_email.label }}
                    </div>
                    <div class="input-field col s4">
                      {{ form.other_parent_cell(type="tel") }}
                      {{ form.other_parent_cell.label }}
                    </div>
                  </div>

                    <div class="row">
                        <div class="col sm 12">
                          <span style="color: red">*</span>  As the legal guardian/responsible adult registering this child,
                          I consent for the specified child to participate in MVC Camp Christmas 2017.
                          I understand that in the event my child is injured during an activity, every attempt
                          will be made to notify the child's guardian first. However, in the event that an approved
                          childcare worker from Monte Vista Chapel from cannot reach a guardian and also deems it
                          necessary to seek medical attention for the child, I consent for such treatment to be sought after,
                          and assume all liability without holding Monte Vista Chapel or it's representative
                          liable for any expenses incurred.
                        </div>
                        <div class="col sm 2">
                           {{ form.consent(required='true') }}
                        </div>
                    </div>
                     <div class="card-action">
                       <button class="btn waves-effect waves-light" type="submit" >Next</button>
                       <!--{{ form.submit(class="waves-effect waves-light btn") }}-->
                    </div>
                </form>
                <p id="hidden_par">.</p>
            </div>

          </div>

    </div>

    <div class="col m3">

        <div class="card">
            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons small left">payment</i>Registration Cost</span>
            </div>
            <div class="card-content black-text" >
                <span class="card-title register-cost"><i class="material-icons left small">attach_money</i>{{ cost }}</span>
            </div>
            <div class="card-content black-text clearfix">
              <span id="total_label">Total</span><span id="total_price">${{ cost }}</span>
            </div>
        </div>
    </div>
  </div>

{% endblock bodycontent %}

{% block scripts %}
    <script>
      $(document).ready(function() {
        $('.datepicker').pickadate({
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 15, // Creates a dropdown of 15 years to control year,
          today: 'Today',
          clear: 'Clear',
          close: 'Ok',
          closeOnSelect: false // Close upon selecting a date,
        });
        $('.dropdown-button').dropdown({
          inDuration: 300,
          outDuration: 225,
          constrainWidth: true, // Does not change width of dropdown to that of the activator
          hover: true, // Activate on hover
          gutter: 0, // Spacing from edge
          belowOrigin: true, // Displays dropdown below the button
          alignment: 'left', // Displays dropdown with edge aligned to the left of button
          stopPropagation: false // Stops event propagation
    });
        $('select').material_select();
      });
    </script>
{% endblock scripts %}